body{
    background-color: aquamarine;
}

header{
    background-color: lightcoral;
}

main{
    background-color: cornflowerblue;
}

.calculator{
    background-color: slategray;
}

.notebook{
    background-color: lightgoldenrodyellow;
}

footer{
    background-color: lavender;
}